

.navn {
  display: flex;
  justify-content: center;

  padding: 10px;
  margin: 10px;
  margin-top: 20px;

  border: solid white 3px;
  border-radius: 7px;
  
}

.checkbox{
 display: flex;
 padding: 10px;
}

.cbox{
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 10px;


}

.txt{
  display: block;
   font-size: 25px;
   width: max-width;
   color: #FFC928;
   padding-right: 20px;

   
}

.sbox{
margin: 20px;



}

.inp{
  color: white;
    margin: 5px;
    height: 30px;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 7px;
    max-width:300px;
    background: transparent;
    color: aliceblue;
    font-size: 20px;
    


}


.box{
     color: rgb(255, 255, 255);
     font-weight: bold;
     border: solid white 4px;
     border-radius: 7px;
     padding-left: 30px;
     margin-top: 20px;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 90px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: black;
  color: white;
  border: 3px solid white;
  -webkit-transform: perspective(1px) translateZ(-1);
  transform: perspective(1px) translateZ(-1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  animation: sliding 5s linear infinite;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}
@keyframes sliding {
  to {
    background-position: 20vw;
  }
}
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 65vh);
    overflow-y: auto;
  }

}


input[type=text]:focus {
  border: 3px solid #555;
}