

.navn {
  display: flex;
  justify-content: center;

  padding: 10px;
  margin: 10px;
  margin-top: 20px;

  border: solid white 3px;
  border-radius: 7px;
  
}

.checkbox{
 display: flex;
 padding: 10px;
}

.cbox{
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 10px;


}

.txt{
  display: block;
   font-size: 1.3vw;
   width: max-width;
   color: #e6e6e6;
   padding-left: 4.5vw;
   font-family: 'Readex Pro', sans-serif;
   
}

.sbox{
margin: 20px;



}

.inp{
  color: white;
    margin: 5px;
    height: 30px;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 7px;
    max-width:300px;
    background: transparent;
    color: aliceblue;
    font-size: 20px;
    


}


.box{
     color: rgb(255, 255, 255);
     font-weight: bold;
     border: solid white 4px;
     border-radius: 7px;
     padding-left: 30px;
     margin-top: 20px;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 90px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: black;
  color: white;
  border: 3px solid white;
  -webkit-transform: perspective(1px) translateZ(-1);
  transform: perspective(1px) translateZ(-1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  animation: sliding 5s linear infinite;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}
@keyframes sliding {
  to {
    background-position: 20vw;
  }
}
.nav {
  height: 13vh;
  width: 100%;
  background-color: #1F2024;
  position: relative;
}

.nav > .nav-header {
  display: inline;
  font-family: 'Readex Pro', sans-serif;
  text-shadow: 3px 3px 5px #000000;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 7vh;
  color: #fff;
  padding: 10px 10px 10px 10px;
  transform: translateX(39vw);
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 65vh);
    overflow-y: auto;
  }

}
.logo{
  display: inline-block;
  width: 21vh;
  height: 6vh;
  transform: translateY(5px);
  margin-right: 10px;
  transition: 0.5s;
}
.logo:hover{
  display: inline-block;
  width: 21vh;
  height: 6vh;
  transform: translateY(-8px);
  margin-right: 10px;

}
.locsearch{
  display: flex;
  margin: 8vh;
}
.Location{
  display: flex;
  height: 5vh;
  width: 15vh;
  border-radius: 7px;
  background-color: #CA4A52;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Readex Pro', sans-serif;
  font-size: 16px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
  z-index: 1;
  transition: 0.5s;
}
.Location:hover{
  display: flex;
  height: 5vh;
  width: 15vh;
  border-radius: 7px;
  background-color: white;
  align-items: center;
  justify-content: center;
  color: #CA4A52;
  font-family: 'Readex Pro', sans-serif;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
  z-index: 1;
  font-size: 18px;
}
.Search{
  height: 5vh;
  width: 30vw;
  background-color: #ffffff;
  transform: translateX(-5px);
  color: #9B9B9B;
  box-shadow: inset 2px 2px 5px rgb(145, 145, 145);
  font-family: 'Readex Pro', sans-serif;
  font-size: 2.5vh;
}

.atmstyle{
  height: 5vh;
  width: 36vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 1vh;
  margin-left: 10px;
  padding: 3px;
  background-color: #e1e1e1;
  transform: translateX(-5px);
  color: #000000;
  font-family: 'Readex Pro', sans-serif;
  font-size: 2.5vh; 
  border-radius: 4px;
  -webkit-appearance: none;
  border: none;
  transition: 0.5s;
  border-right: green solid 5px;
}
.atmstyle:hover{
  height: 5vh;
  width: 36vw;
  display: flex;
  flex-direction: column;
  margin: 1vh;
  margin-left: 10px;
  padding: 3px;
  background-color: #c1c1c1;
  transform: translateX(-5px);
  color: #000000;
  font-family: 'Readex Pro', sans-serif;
  font-size: 2.5vh; 
  border-radius: 4px;
  -webkit-appearance: none;
  border: none;
  transform: translateX(2px);
  transform: translateY(-2px);
}

.options{
  background-color: #f3f3f3;
  width: 36vw;
  border-radius: 5px;
}

.bgbox{
  height: 100%;
  width: 36.8vw;
  padding: 0.3px;
  background-color: rgba(138, 138, 138, 0.401);
  margin-left: 5vw;
  
}
.App{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/bg.jpeg), radial-gradient(rgb(193, 193, 193),rgb(138, 138, 138));
  background-blend-mode: overlay;
}
.rupee{
  position: absolute;
  color: #CA4A52;
  font-weight: bold;
  height:140px;
  width: 80px;
  transform: translateX(85vw);
}
.Cash{
  position: absolute;
  transform:translate(43vw,10vh);
  
  color:white;
}
input[type=text]:focus {
  border: 3px solid #555;
}